<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WaterWalks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
				<key>dateExpires</key>
				<string>20/10/2020</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BLTNBoard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CFAlertViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Eureka.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mapbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PMSuperButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Pulley.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SPAlert.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SPStorkController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>675E7E4CB7CA034BF4CAA66B0AA7055496153F60</string>
						<key>dateExpires</key>
						<string>20/10/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>SLLN82432V.reinvdwoerd.WaterWalks.VoiceMemoShare</string>
						<key>com.apple.developer.team-identifier</key>
						<string>SLLN82432V</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.WaterWalks</string>
							<string>group.reinvdwoerd.WaterWalks</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>VoiceMemoShare.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f2aa1c6b-6259-4917-bc4e-16ba7bf6119f</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: reinvdwoerd.WaterWalks.VoiceMemoShare</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SLLN82432V</string>
						<key>name</key>
						<string>Rein van der woerd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SLLN82432V.reinvdwoerd.WaterWalks</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SLLN82432V</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.reinvdwoerd.WaterWalks</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WaterWalks.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>164c24cb-407a-4f65-9b35-2293bb405dc5</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: reinvdwoerd.WaterWalks</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SLLN82432V</string>
				<key>name</key>
				<string>Rein van der woerd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
