* {
    box-sizing: border-box;
}

.links {
    display: flex;
    /* overflow: auto; */
    /* column-count: 2; */
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.4); */
    flex-direction: column;
}

a {
    color: black;
    display: inline-flex;
    text-decoration: underline;
}

body {
    font-family: "NYTCheltenham";
    margin: 25px;
}

.suggestions {
    /* display: flex; */
    overflow: auto;
    height: 300px;
    flex-direction: column;
}

.suggestions a, .links input {
    border: none;
    display: flex;
    padding: 15px 30px;
    /* background: black; */
}
.topic, .links {
    box-shadow: 0 0 20px 0 rgba(177, 177, 177, 0.4);
    background: white;
    max-width: 500px;
    display: flex;
    margin: auto;
    width: 100vw;
}
.topic {
    display: grid;
    grid-gap: 10px;
    /* padding: 25px; */
    /* padding-left: 50px; */
    margin-bottom: 30px;
}

.topic.expanded {
    max-width: 100vw;
    /* height: 100vh; */
    /* display: grid; */
    /* grid-template-columns: auto 500px auto; */
    /* flex-direction: column; */
}



.info, .infobox {
    padding-left: 30px;
    border-left: 3px solid currentColor;
}

h1 {
    margin-bottom: 0;
}


/**
    Transition
 */
.list-item {
    display: inline-block;
    margin-right: 10px;
}
.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}

.list-move {
    transition: all 1s;
}

#map {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.topic {
    transition: all 1s;
}

.topic.expanded {
    transition: all 3s;
    /*position: fixed;*/
    box-shadow: 0 0 20px 0 rgba(177, 177, 177, 0.0);
}



.topic .inner {
    max-width: 700px;
    margin: auto;
    margin-top: 0;
    padding: 25px 50px;
}

.gallery img {
    width: 250px;
}

.gallery {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

span.mw-editsection {
    display: none;
}

sup.reference {
    display: none;
}

img[src='//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nuvola_apps_kaboodle.svg/16px-Nuvola_apps_kaboodle.svg.png'] {
    display: none;
}
.links input {
    outline: none;
}
.suggestions a:first-child {
    background: #f3f3f3ad;
    font-weight: bold;
}

div#siteSub {
    display: none;
}

.ambox {
    display: none;
}

a.mw-jump-link {
    display: none;
}

.thumb.tleft {
    margin-bottom: 25px;
}

h1 {}

hr {
    width: 50px;
    margin-left: 0;
    height: 5px;
    align-self: inherit;
    background: black;
}

span.tocnumber {
    padding-right: 5px;
}