body {
    background: #334371;
}

a-scene.fullscreen canvas.a-canvas {
    width: calc(100% - 50px) !important;
    height: calc(100% - 75px)!important;
    top: 25px !important;
    left: 25px !important;
    right: 25px  !important;
    bottom: 50px  !important;
    position: fixed!important;
    border-right: 1px solid  rgba(255,255,255,0.2);
    border-bottom: 1px solid white;

    border-left: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid white;
}

.title {
    bottom: 20px;
    right: 25px;
    color: white;
    z-index: 9999;
    position: fixed;
    text-transform: lowercase;
    font-family: "Fira Code";
    font-size: 12px;
}